body {
  background-color: #0c0d0f;
  margin: 0;
  display: block;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::after {
  content: "";
  background: url('./images/gravity_bkgd.png') no-repeat;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  color: #FFFFFF;
  font-weight: lighter;
  letter-spacing: 15px;
}

h5 {
  color: #38B449;
  font-weight: lighter;
  letter-spacing: 10px;
}

h5:hover {
  color: #33993D;
}

.link {
  text-decoration: none;
}
