.Trail {
  align-items: center;
  background-image: linear-gradient(to right, rgba(56,180,73,.5), rgba(56,180,73,.9));
  border-radius: 50px;
  color: #FFFFFF;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 15px;
  width: 80%;
}

.Trail-p {
  letter-spacing: 5px;
  padding: 0 15px 0 15px;
  margin: 0;
}

.descent,
.stars {
  width: 20%
}

.name {
  width: 60%
}

.info {
  color: black;
  cursor: pointer;
}

.Trail-btn {
  background-color: #38B449;
  border: none;
  border-radius: 0 25px 25px 0;
  font-size: 1rem;
  letter-spacing: 5px;
  height: 50px;
  padding: 0 20px 0 20px;
}

.Trail-btn:hover {
  background-color: #33993D;
  color: white;
  cursor: pointer;
}
