.Trail {
  align-items: center;
  /* background-color: #000000; */
  background-image: linear-gradient(to right, rgba(56,180,73,0), rgba(56,180,73,1));
  border-radius: 50px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.Trail-p {
  letter-spacing: 5px;
  padding: 0 15px 0 15px;
  width: 50%;
}
